@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BasketballManager2000</h1>
    <p><i>The premier in basketball management solutions.</i></p>
</div>
